body{
    font-family: var(--main-font);
}
.header{
    padding: 57px 0;
}
.header nav ul{
    display: flex;
    flex-wrap: wrap;
    gap: 35px;
}
.header .bar{
    display: none;
}
.list a{
    color: #0D0E43;
}
.header .active{
    color: var(--primary-color);
}
.search form{
    border: 3px solid #E7E6EF;
    border-radius: 5px;
}
.search input, .search button{
    border: none;
    outline: none;
}
.search input{
    width: 250px;
    padding-left: 7px;
    padding-top: 8px;
    padding-bottom: 8px;
}
.search button{
    background-color: var(--primary-color);
    padding: 8px 13px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

@media screen and (max-width: 1200px){
    .list, .header .search{
        display: none;
    }
    .header .bar{
        display: block;
    }
}
/* end header */

/* start footer */
footer{
    background-color: #EEEFF8;
    padding: 50px 0;
}
.footer .row{
    gap: 30px;
}
.footer a, .address-info{
    color: #8A8FB9;
    font-size: 14px;
}
.footer .left-side{
    gap: 35px;
    align-items: flex-start;
    width: calc((100% - 30px) / 2);
} 
.footer .left-side form{
    display: flex;
}
.footer .right-side{
    width: calc((100% - 30px) / 2);
}
.footer .right-side .row{
    gap: 35px;
    align-items: flex-start;
}
.footer-item{
    gap: 45px;
    width: calc((100% - 70px) / 3);
}

@media screen and (max-width:992px){
    .footer .left-side, .footer .right-side{
        width: 100%;
    }
}
@media screen and (max-width:576px){
    .footer{
        text-align: center;
    }
    .footer-item{
        width: 100%;
    }
}

/* end footer */